body {
overflow-x: hidden;
margin: 0px;
}

.tm-nav li {
    list-style: none;
    float: left;
  }
  .tm-nav li a {
    color: rgb(197, 144, 144);
    display: inline-block;
    padding: 15px 15px 20px 30px;
    font-size: 28px;
    margin-left: 50px;
  }
  .tm-site-name {
    color: #c79c60;
    display: inline-block;
    font-size: 32px;
    margin: 0 10px;  
    font-style: italic;
    
  }
  .tm-site-logo,
 .tm-site-name {
  vertical-align: 20px;
  padding-right: 15px;
}
.tm-nav {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 60px;
}
.tm-top-header {
    display: inline-block;
    background-color: black;
    padding-left: 40px;
    width: 100%;
}
.tm-site-logo {
    padding-left: 300px;
}
.tm-nav li a.active {
    background: url(./logo.png) no-repeat, url(./nav-underline.png) no-repeat;
    background-size: 20px, 74px 17px;
    background-position: 0% 30%, center bottom;
  }
  .ul.li.a {
      list-style: none;
      
  }
  .mobile-menu-icon {
      display: none;
  }
  .tm-welcome-section
  {
      background-color: #282726;
      text-align: center;
      overflow: visible;
      height: 950px;
  }
  .lightsandwelcome
  {
      background-color: #282726;
      position: relative;
      width: 100%;
      margin: 0px;
      padding: 0px;
      text-align: center;
  }
  .welcome-lights
  {
      margin-left:20px;
      margin-right: 20px;
  }
  .tm-welcome-header
  {
      font-size: 56px;
      position:absolute;
      bottom: 280px;
      left: 36%;
      text-align: center;
      margin: 0px;
      padding: 0px;
  }
  .tm-welcome-header-2
  {
      padding: 0px;
      margin: 0px;
      text-align: center;
      font-size: 62px;
      font-family: 'Times New Roman' , serif;
      font-weight: unset;
  }
  .welcome-content
  {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
  }
  .tm-more-button
  {
      display: block;
      width: 196px;
      height: 46px;
      color: #c79c60;
      text-decoration: none;
      font-size: 16px;
      line-height: 3;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      text-transform: uppercase;
      background-image: url(tm-brown-button.png) ;
     
  }
  .tm-main-section
  {
      padding-top: 200px;
  }
  .container-best-coffee
  {
      max-width: 989px;
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
  }
  .description
  {
      text-align: justify;
      font-size: 18px;
  }
  .container-best-coffee
  {
      display: flex;
  }
  .best-coffee
  {
      max-width: 720px;
  }
  .fright
  {
      margin-top: 50px;
      margin-left: 100px;
      height: 175px;
  }
  .img-circle
  {
      border-radius: 50%;
      border: white 10px solid;
    
  }
  .shadow-image
  {
      background: url(shadow.png) no-repeat center bottom;
  }
  .read-more-button
  {
      text-align: center;
      margin-left: 0px;
  }
  .ch-heading
  {
      font-weight: unset;
     margin: 0px;
  }

  .light-gray-bg
  {
      background-color: #e4e4e4;
  }
  .green-text
  {
      color:#30A430;
  }
  .blue-text
  {
      color: #0066CC;
  }
  .white-text
  {
      color: white;
  }
  .grey-text
  {
    color:#949494; 
  }
  .gold-text
  {
      color: #c79c60; 
  }
  .tm-handwriting-font
  {
      font-family: 'Damion', cursive;
  }

  @media (max-width: 1430px) {
    .tm-site-logo {
        padding-left: 200px;
    }
  }
  @media (max-width: 1340px) {
      .tm-nav {
          margin-left: 40px;
      }
  }
  @media (max-width: 1430px) {
    .tm-site-logo {
        padding-left: 150px;
    }
    @media (max-width: 1250px) {
        .tm-site-logo {
            padding-left: 90px;
        }
        .tm-nav li a {
            padding: 10px 10px 10px 10px;
        }
        @media (max-width: 1100px) {
            .tm-site-logo {
                padding-left: 20px;
            }
            .tm-nav {
                margin-left: 0px;
            }
        }
        @media (max-width: 1020px) {
            .tm-site-logo {
                padding-left: 10px;
            }
            .tm-site-name {
                font-size: 25px;}
                .tm-nav li a {
                    font-size: 23px;}
         }
                @media screen and (max-width: 915px) {
                    .tm-nav { display: none; }
                    .tm-nav li a { padding-left: 35px; }
                    .tm-logo-container { margin-left: 15px; }  
                    .mobile-menu-icon {
                      display: block;
                      cursor: pointer;
                      color: #c79c60;
                      font-size: 50px;
                      position: fixed;
                      top: 32px;
                      right: 40px;
                      background-color: rgba(180, 55, 55, 0.6);
                      padding: 10px 15px;
                      z-index: 10;
                    }
                }